@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "helvetical neue", "inter", "helvetical neue", Arial, Helvetica,
    sans-serif;
  font-size: calc(14px + 0.2vw);
  /* line-height: 2rem; */
  -webkit-font-smoothing: antialiased; /* For Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  @apply text-gray-700 selection:bg-primary selection:text-accent;
}

[data-scroll-container] {
  min-height: 100vh;
}
